@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=JetBrains+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --radius: 0.5rem;

    --font-sans: 'Inter', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;

    --white: #ffffff;
    --black: #000000;
    --blue-500: #2196F3;
    --indigo-300: #7986CB;
    --blue-300: #64B5F6;
    --violet-200: #B39DDB;
    --blue-400: #42A5F5;
    --transparent: transparent;

    --sidebar-background: 258 90% 5%;
    --sidebar-foreground: 258 10% 80%;
    --sidebar-accent: 258 80% 60%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 258 80% 60% / 0.1;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
  }
}

.radial-gradient-button {
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  box-shadow: 0 2px 20px #5468ff;
}

.linear-mask {
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);
}

.linear-overlay {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.05) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: translateX(var(--x, 100%));
}
